My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "21893604-2479-4c33-a245-29db213bdba2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1248,
        688
      ],
      "id": "92fd1cdd-a6cd-4e65-92aa-6e377cc45e9c",
      "name": "Webhook",
      "webhookId": "21893604-2479-4c33-a245-29db213bdba2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "client",
          "mode": "list",
          "cachedResultName": "client"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1040,
        688
      ],
      "id": "83831276-25e5-4c1f-b6ad-ecdef089aadc",
      "name": "Select rows from a table"
    },
    {
      "parameters": {
        "formTitle": "Envio de Documentos",
        "formDescription": "Adicione neste formulário o arquivo .zip com os arquivos necessários para excução do workflow",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Envie o Documento",
              "fieldType": "file",
              "acceptFileTypes": ".zip"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1280,
        1056
      ],
      "id": "c6ceb0fd-0ee7-4c80-bfff-860825346d97",
      "name": "On form submission1",
      "webhookId": "65ffd55d-6a91-437d-9940-12228c8f467b"
    },
    {
      "parameters": {
        "binaryPropertyName": "Envie_o_Documento"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        -1072,
        1056
      ],
      "id": "066ae41c-8932-4363-a51c-dee4b6bf2b8d",
      "name": "Compression1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "include": "allOtherFields",
        "options": {
          "includeBinary": true
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -864,
        1056
      ],
      "id": "a1b38e4c-b541-41aa-96a0-1ba000f24b91",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ Object.values($binary)[0].fileName == 'clientes.csv'}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "c4355da5-81eb-4894-b3a2-99ecc80eba5b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b424d7db-d569-457a-81e7-3b1a896d4372",
                    "leftValue": "={{ Object.values($binary)[0].fileName == 'contratos.csv'}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3164f0ea-5a34-4843-b17b-bcf1bb1028e9",
                    "leftValue": "={{ Object.values($binary)[0].fileName == 'leituras.csv'}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -592,
        1040
      ],
      "id": "b666df7a-e195-489e-a700-16817c8aa43c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.19.0.4:8000/v1/client",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_key",
              "value": "={{ $json.client_key }}"
            },
            {
              "name": "document_number",
              "value": "={{ $json.document_number }}"
            },
            {
              "name": "name",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        80,
        880
      ],
      "id": "e49d60ee-4703-46de-86a0-d5b01dd38012",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.19.0.4:8000/v1/client/{{ $json.client_key }}/contract",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contract_key",
              "value": "={{ $json.contract_key }}"
            },
            {
              "name": "start_date",
              "value": "={{ $json.start_date }}"
            },
            {
              "name": "active",
              "value": "={{ Boolean($json.active) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        80,
        1072
      ],
      "id": "88d7d9e3-0e3e-49a1-8393-bbdd24967d60",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.19.0.4:8000/v1/client/{{ $json.client_key }}/contract/{{ $json.contract_key }}/reading",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "reading_key",
              "value": "={{ $json.reading_key }}"
            },
            {
              "name": "reading_date",
              "value": "={{ $json.reading_date }}"
            },
            {
              "name": "reading_value",
              "value": "={{ Number($json.reading_value) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        80,
        1280
      ],
      "id": "689a6196-1b2d-4ab0-872e-47a77f92d847",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -240,
        880
      ],
      "id": "6a03e9e0-57b5-4f45-8e7b-dff3dc9d68c8",
      "name": "Extract from Clients"
    },
    {
      "parameters": {
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -240,
        1056
      ],
      "id": "dcef206e-590a-4328-b500-e765151249d3",
      "name": "Extract from Contracts"
    },
    {
      "parameters": {
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        1264
      ],
      "id": "eaa8d764-1050-4284-95a5-231251ab05a0",
      "name": "Extract from Readings"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Compression1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Extract from Clients",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Contracts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Readings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Clients": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Contracts": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Readings": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3abb7896-30a8-4387-9b00-c7bb8aaef46a",
  "meta": {
    "instanceId": "82724f3bc875552a965c9db03ccab2e93e55d113a2dc8b39c3757e0da18242c6"
  },
  "id": "d5f2A9G3VCQVgLUR",
  "tags": []
}